@use './variables' as *;


.about{
    height: 100vh;
    width: 100%;
    background-color: $light-gary-one;
    position: relative;
    top: -1rem;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        overflow: hidden;
        .bg-image{
            background-repeat: no-repeat;
            background-position: center;
            width: 50%;
            height: 88%;
            background-color: #387546;
            border-radius: 50%;
            position: relative;
            left: -20.875rem;
            top: -4rem;
            #image-2{
                position: absolute;
                right: -12rem;
                top: 1rem;
                width: 500px;
            }
        }
        .text{
            width: 40%;
            position: relative;
            top: -3rem;
            h3{
                font-size: 1.5rem;
                margin-bottom: 1.7rem;
                font-weight: bold;
            }
            h1{
                font-size: 2rem;
                font-weight: 800;
                word-spacing: 2px;
                margin-bottom: 2rem;
            }
            p{
                font-size: 1.7rem;
                margin-bottom: 2rem;
            }
            button{
                width: 14rem;
                height: 3.5rem;
                border-radius: 0.7rem;
                font-size: 1.7rem;
                background-color: $green-two;
                border: none;
                color: $white-one;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
            }
        }
    }
}



@media(max-width:1200px){
    .about{
        .container{
            .text{
                width: 50%;
            }
        }
    }
}

@media(max-width:575px){
    .about{
        .container{
            .bg-image{
                left: -10.875rem;
                top: -1rem;
                background-color: transparent;
                
            }
            .text{
                z-index: 999;
                h3{
                    font-size: 0.9rem;
                }
            
                h1{
                    font-size: 1.1rem;
                }
                p{
                    font-size: 0.8rem;
                }
                button{
                    font-size: 1.2rem;
                    width: 10rem;
                    height: 2.5rem;
                }
                
            }
        }
    }
}