@use './variables' as *;



.contact{
    height: 60vh;
    width: 100%;
    background-color:$light-gary-one;
    position: relative;
    top: -3.75rem;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .social{
            margin-top: 4.9rem;
            background-color: #eee;
            width: 25rem;
            height: 10.625rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            border-radius: 3.125rem;
            // box-shadow: -10px 10px 6px 1px rgba(124, 124, 124, 0.845);
            font-size: 1.2rem;
            box-shadow: 0px 1rem 1.25rem #00000029;
            i{
                color: $green-two;
                font-size: 2.8125rem;
            }
        }
    }
}

@media(max-width:575px){
    .contact{
        height: 126vh;
        .container{
            display: block;
            .social{
                width: 20rem;
            }
        }
    }
}