@use './variables' as *;



.contact{
    height: 60vh;
    width: 100%;
    background-color:$light-gary-one;
    position: relative;
    top: -3.75rem;
    
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .social{
            margin-top: 4.9rem;
            margin-right: 2.7rem;
            position: relative;
            left: 25px;
            background-color: #eee;
            width: 25rem;
            height: 10.625rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            border-radius: 3.125rem;
            font-size: 1rem;
            box-shadow: 0px 1rem 1.25rem #00000029;
            i{
                color: $green-two;
                font-size: 2rem;
            }
        }
    }
}

@media(max-width:575px){
    .contact{
        height: 126vh;
        .container{
            display: block;
            .social{
                width: 17rem;
                left: 23px;
                margin-top: 2.9rem;
            }
        }
    }
}