@use './variables' as *;

main{
    height: 100vh;
    background-color: $light-gary-one;
    overflow: hidden;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: $main-bg-img2;
        background-repeat: no-repeat;
        background-position: left bottom;
        height: 100%;
        overflow: hidden;
        .bg-image{
            
            background-repeat: no-repeat;
            background-position: center;
            width: 50%;
            height: 88%;
            background-color: #387546;
            border-radius: 50%;
            position: relative;
            right: -18.875rem;
            top: -4rem;
            #image-1{
                position: absolute;
                left: -14rem;
                top: -4rem;
                z-index: 9999;
                width: 500px;
            }
        }
        .text{
            width: 40%;
            position: relative;
            top: -3rem;
            left: 5rem;
            h1{
                font-size: 2.875rem;
                font-weight: 800;
                word-spacing: 0.125rem;
                margin-bottom: 2rem;
            }
            p{
                font-size: 1.7rem;
                margin-bottom: 2rem;
            }
            button{
                width: 14rem;
                height: 3.5rem;
                border-radius: 0.7rem;
                font-size: 1.7rem;
                background-color: $orange;
                border: none;
                color: $white-one;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                &:hover{
                    cursor: pointer;
                }
            }
        } 
    }
}


@media(max-width:1200px){
    main{
        .container{
            .text{
                top: -4rem;
                left: 7rem;
                h1{
                    font-size: 2rem;
                }
            }
            .bg-image{
                right: -14.875rem;
                #image-1{
                    position: absolute;
                    left: -13rem;
                    top: -1rem;
                }
            }
        }
    }
}
@media(max-width:900px){
    main{
        .container{
            position: relative;
            // background-color: #387546;
            border-radius: 50%;
            width: 882px;
            top: -151px;
            left: 130px;
            background-image: none;

            .bg-image{
                    right: -31.875rem;
                    width: 65rem;
                    height: 88%;
                    top: 12px;
                    background-color: transparent;
                #image-1{
                    position: absolute;
                    left: -7rem;
                    top: -3rem;
                }
            }
            .text{
                position: absolute;
                z-index:999; 
                top: 13rem;
                left: 5rem;
            }
        }
    }
}
@media(max-width:575px){
    main{
        // margin-top: 10rem;
        .container{
            position: relative;
            background-color: #387546;
            border-radius: 50%;
            width: 700px;
            top: -146px;
            left: -96px;
            background-image: none;
            .bg-image{
                right: -24.875rem;
                #image-1{
                    left: -12rem;
                }
            }
            .text{
                position: absolute;
                z-index: 999;
                left: 103px;
                bottom: 323px;
                width: 30%;
            
                h1{
                    font-size: 1.4rem;
                }
                p{
                    font-size: 1.2rem;
                }
                button{
                    font-size: 1.2rem;
                    width: 10rem;
                    height: 2.5rem;
                }
                
            }
        }
    }
}


