$white-one:#FFFFFF;

$white-two:#FAFAFA;

$light-gary-one:#00000029;

$light-gary-one:#DEF0D8;

$dark-gary:#B2C9A3;

$green-one:#598464;

$green-two:#387546;

$green-three:#598463;

$balck:#383833;

$orange:#F19A33;


// background-image

$main-bg-img1:url('../images/background+pict.png');


$main-bg-img2:url('../images/background_picture2.png');

$vegetable-table:url('../images/vegetable_table.png');